

  


        <% @items.each do |item| %>
  <div class="col-md-3 col-xs-12 item-block">
      <div class="panel panel-default">
        <div class="panel-body">
          <div style="height:250px;">
              <center> <%= image_tag item.image.url(:medium), class: "disitem" %>
          </div>
        <p><a href="#" data-toggle="modal" data-target="#myModal_<%= item.id %>">
          <span class="glyphicon glyphicon-plus"></span> more info
        </a></p>
            <p><strong><%= number_to_currency item.price %></strong></p>
              <p><%= item.name %></p>
          </center>
        </div>
           <div class="modal-footer">
            <%= form_tag('/add_to_cart') do %>
              <%= hidden_field_tag :item_id, item.id %>
              <br />
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= submit_tag "Buy It!", class: "btn btn-success" %>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>
    
