<% if can? :update, @jewelrymetal %>


<p id="notice"><%= notice %></p>

<h1>Listing Jewelrymetals</h1>

<table>
  <thead>
    <tr>
      <th>Metal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jewelrymetals.each do |jewelrymetal| %>
      <tr>
        <td><%= jewelrymetal.metal %></td>
        <td><%= link_to 'Show', jewelrymetal %></td>
        <td><%= link_to 'Edit', edit_jewelrymetal_path(jewelrymetal) %></td>
        <td><%= link_to 'Destroy', jewelrymetal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jewelrymetal', new_jewelrymetal_path %>

<% end %>
