<!DOCTYPE html>
<html>
<head>
  <title>Artisanjewelers</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header>
    
<nav class="main-header">
        <%= image_tag "logo.png", class: "logo" %>
    <%=image_tag "menu.png", class: "nav-btn hide-large" %>
  
      <ul class="nav hide-mobile" >
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Catalog", catalog_path %></li>
      
          <li><%= link_to "Wedding", wedding_path %></li>
          <li><%= link_to "Exclusive Design", exclusive_path %></li>
         <li> <%= link_to "About Us", about_path %></li>
          
      <li>
              <%= link_to "View Bag", view_order_path %>
        </li>
    </ul>
    </nav>
    <div class="user">
         <ul>
          <% if user_signed_in? %>
  <% if current_user.admin? %>
          <li> <%= link_to "Admin Panel", admin_path %></li>
          <% end %>
          <li>
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Log In", new_user_session_path %>
          </li>
        <% end %>
        
      </ul>
        
    </div>
    
</header>
 
    <%= yield %>
  
<footer
  
    </footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"> 
</script>
    <script>
    $('.nav-btn').on('click',function(){
    $('.nav').toggleClass('hide-mobile');
});
    </script>
</body>
</html>
